/* PHASE 3: Layout */
.content {
  position: relative;
  width: 900px;
  min-height: 200px;
  margin: auto;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}

.content-sidebar {
  width: 210px;
  float: left;
  padding: 20px;
}

.content-main {
  float: right;
  width: 610px;
  padding: 20px;
}

.content:before {
  content: "";
  left: 250px;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  background: #ccc;
}
